/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/.env
/.env.*
!/.env.example
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
Homestead.json
Homestead.yaml
auth.json
*.bak
*.bak.*
go-worker/kazitel-worker
